.login_form {
    max-width: 368px;
    width: 100%;
    height: 490px;

    & :global(.ant-form-item-control-input-content) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & :global(.ant-tabs-top > .ant-tabs-nav) {
        margin-bottom: 24px;
    }
}

.form_button {
    width: 100%;
    letter-spacing: 0.5px;
}

.form_button__item {
    width: 100%;

    & :global(.ant-form-item) {
        width: 100%;
    }
    & :global(.ant-space-item) {
        width: 100%;
    }
}

.input :global(.ant-input-group-addon) {
    padding: 0 15px;
}

.checkbox {
    padding-top: 13px;
    &:global(.ant-form-item) {
        margin-bottom: 18px;
    }
}

@media (max-width: 835px) {
    :global(._form_layout_491ol_19) {
        transform: translateY(-25px);
    }
}

@media (max-width: 361px) {
    .login_form {
        max-width: 100%;
        height: 465px;
    }
    .checkbox {
        &:global(.ant-form-item) {
            margin-bottom: 11px;
        }
        & label ~ a {
            font-size: 15px;
        }
    }

    :global(._form_layout_491ol_19) {
        max-height: 613px !important;
    }
}
