:global .ant-modal-body .ant-result-extra {
    display: flex;
    justify-content: center;
}

:global .ant-modal-body .ant-result {
    padding: 38px 51px;
}

:global .ant-modal .ant-result-title {
    font-weight: 500;
}

:global .ant-modal .ant-result-500 button {
    flex-basis: 0;
}


@media (max-width: 360px) {
    :global .ant-modal .ant-result {
        padding: 0;
    }

    :global .ant-modal .ant-result-extra {
        margin-top: 12px;
    }
    :global .ant-modal .ant-result-500 .ant-result-subtitle {
        margin: 0 50px;
    }
    :global .ant-modal .ant-modal-body {
        padding: 58px 0;
    }
}
