.events {
    min-height: 84px;
    max-height: 140px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
}

.events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: calc(.75 * var(--fs-base));
    white-space: nowrap;
    text-overflow: ellipsis;
}
