.ant-form-item-control-input-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-tabs-top > .ant-tabs-nav {
    margin-bottom: 24px;
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless) .ant-input {
    border-left-color: #d9d9d9;
}

.input .ant-input-group-addon {
    padding: 0 15px;
}

._form_button__item_1xqwv_14 .ant-form-item {
    width: 100%;
}
._form_button__item_1xqwv_14 .ant-space-item {
    width: 100%;
}

._form_button__item_btbsw_16 .ant-space-item, .ant-form-item {
    width: 100%;
}

@media (max-width: 360px) {
    .ant-form-item-explain {
        margin-bottom: 8px;
    }
    label {
        & span {
            font-size: 14px;
        }
    }
}
