.site_layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: no-repeat right/cover url('../main.jpg');
}

.site_layout .layout_background {
    display: flex;
    flex: 1 1 auto;
}
