.empty_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.empty_modal :global .ant-card-meta-detail .ant-card-meta-title {
    font-size: 25px;
    font-weight: 500;
    color: #061178;
    margin-bottom: 41px;
    white-space: pre-line;
}

.empty_modal :global .ant-space-item {
    width: 100%;
}
.empty_modal :global .ant-card-meta-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty_modal :global .ant-card-meta-description {
    max-width: 490px;
    width: 100%;
}

.empty_modal :global .ant-card-meta {
    min-height: 164px;
    width: 100%;
}

.card_body {
    min-height: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 360px) {
    .empty_modal {
        justify-content: start;
        gap: 44px;
    }

    .empty_modal :global .ant-card {
        height: 317px;
    }
    .empty_modal :global .ant-card-body {
        padding: 49px 21px 45px 22px !important;
    }
    .empty_modal :global .ant-card-body {
        align-items: flex-start;
    }
}
