.activeContainer {
    border-radius: var(--border-radius-l);
    overflow-y: auto;
}

.navitem {
    align-items: center;
    padding: var(--pd-10) var(--pd-16);
    cursor: pointer;
    gap: 12px;

    &:hover {
        background: var(--chakra-colors-lime-50);
        color: black;
    }

    &.active {
        background: var(--chakra-colors-lime-100);
        padding: var(--pd-10) var(--pd-16);

        & > p {
            font-weight: var(--fw-xl);
        }
    }
}

.navitemborder {
    padding: var(--pd-4) var(--pd-8);
    border-left: 1px solid;
    border-color: var(--chakra-colors-lime-300);
    border-left-width: 1px;
    margin-left: -1px;

    &:hover {
        background: var(--chakra-colors-lime-50);
    }

    &.active {
        border-left-width: var(--pd-8);
        margin-left: -8px;
        padding: var(--pd-4) var(--pd-8);
        border-color: var(--chakra-colors-lime-300);
        background: transparent;

        & > p {
            font-weight: var(--fw-xl);
        }
    }
}
