@media (max-width: 480px) {
    .ant-menu-item-icon {
        display: none;
    }

    .ant-menu-inline .ant-menu-item:not(:last-child) {
        margin-bottom: 6px;
    }
    
    .ant-menu-vertical .ant-menu-item {
        padding-right: 10px;
    }
}
