._result_layout_rh8iu_1 .ant-result-title {
    font-weight: 500;
    width: 102%;
}

._result_layout_rh8iu_1 .ant-result-subtitle {
    line-height: 1.2;
    letter-spacing: 0.5px;
}

._result_layout_rh8iu_1 .ant-space-item {
    max-width: 368px;
    width: 100%;
}
