.calendar_layout {
    position: relative;
    background: var(--ant-primary-1);
    margin: -24px;
    margin-bottom: 42px;
    padding: 0 24px;
}

.calendar {
    background: transparent;
    z-index: 0;
}

.calendar :global .ant-picker-content {
    border-collapse: separate;
    border-spacing: 8px 0;
}

.calendar_modal :global .ant-modal-confirm-title {
    width: 70%;
}

:global .ant-picker-calendar-full .ant-picker-panel {
    background: transparent;
}

:global .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
    margin: 0;
    background: var(--ant-form-background);
    height: 140px;
}

:global .ant-picker-calendar-full .ant-picker-panel .ant-picker-body th {
    background: #ffccc7;
    padding: 0 6px;
    color: var(--ant-text);
}

:global
    .ant-picker-calendar-full
    .ant-picker-panel
    .ant-picker-cell-selected
    .ant-picker-calendar-date-today {
    background: var(--ant-form-background);
}

:global .ant-radio-button-wrapper-checked > span {
    border-color: var(--ant-primary-6);
    color: var(--ant-primary-6);
}

.events {
    margin: 0;
    padding: 0;
    list-style: none;
}
.events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notes-month {
    font-size: 28px;
    text-align: center;
}
.notes-month section {
    font-size: 28px;
}

@media (max-width: 360px) {
    .calendar_layout {
        height: fit-content;
        margin: -24px -16px 0;
        padding: 0 22px 22px;
    }

    .calendar {
        background: var(--ant-form-background);
    }

    .calendar :global .ant-picker-calendar-header {
        display: flex;
        & :global .ant-picker-calendar-mode-switch {
            margin-top: 0;
        }
        & :global .ant-picker-calendar-mode-switch {
            text-align: right;
            & > label {
                width: 40%;
                padding: 0;
            }
        }
    }

    :global .ant-breadcrumb + .ant-page-header-heading {
        margin-top: 0;
    }
}
