.ant-result-subtitle {
    line-height: 1.3;
    letter-spacing: 0.5px;
}

._result_layout_xuxk8_1 .ant-space-item {
    max-width: 368px;
    width: 100%;
}

.ant-result-500 .ant-result-extra {
    width: auto;
}
