._result_layout_rh8iu_1 .ant-result-title {
    font-weight: 500;
    line-height: 130%;
    white-space: pre-line;
}

._result_layout_rh8iu_1 .ant-result-subtitle {
    line-height: 1.3;
    letter-spacing: 0.5px;
}

._result_layout_rh8iu_1 .ant-space-item {
    max-width: 368px;
    width: 100%;
}

._result_layout_rh8iu_1 .ant-result-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ant-result-icon {
    margin: 0;
}
