.header {
    background: #f0f5ff;
}

.button_trigger {
    position: fixed;
    top: 47vh;
    width: 20px;
    height: 66px;
    padding: 0;
    border: none;
    border-radius: 0;
    clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%);
    transition: transform 0.3s;
    z-index: 2;
}

.trigger {
    font-size: 13px;
    line-height: 64px;
    color: #8c8c8c;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

@media (max-width: 575px) {
    .button_trigger {
        width: 32px;
        height: 48px;
    }
}
