@import url('./theme/index.module.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-font: "Inter", sans-serif;
    --fs-base: 1rem;
    --fs-title: calc(var(--fs-base) * 1.5);
    --fs-text: calc(var(--fs-base) * .875);
    --fw-l: 400;
    --fw-m: 500;
    --fw-b: 700;
    --line-height: 1.3;
    --ant-primary-1: #f0f5ff;
    --ant-primary-6: #2f54eb;
    --ant-primary-5: #597ef7;
    --ant-primary-9: #061178;
    --ant-button-download: #262626;
    --ant-form-background: #fff;
    --ant-rate-color: #faad14;
    --ant-text: #8c8c8c;
    --ant-text-secondary: #bfbfbf;
    --ant-default: #f0f0f0;
    --spacing: 20px;
    --margin-space: calc(0.2 * var(--spacing));
    --padding-space: calc(0.2 * var(--spacing));
    --border-radius: 4px;
    --shadow: 0 0 6px rgba(0,0,0,.3)
}

a:hover {
    color: #535bf2;
}

body {
    font-family: var(--primary-font);
    font-weight: var(--fw-l);
    margin: 0;
    overflow-x: hidden;
}

.ant-btn-primary {
    background: var(--ant-primary-6);
}

.ant-typography.ant-typography-secondary {
    color: var(--ant-text);
}

.ant-popover  {
    z-index: 1;
}
