.result_layout {
  
    padding: 0;

    :global(.ant-result-title) {
        font-weight: 500;
    }

    :global(.ant-space-item) {
        max-width: 368px;
        width: 100%;
    }
}

.result_layout {
   
    :global(.ant-result-subtitle ) {
        line-height: 1.2;
        letter-spacing: 0.5px;
    }
}


