.result_layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.status_500 {
    padding: 64px 32px;
}

:global .ant-result-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    white-space: pre-line;
}

:global .ant-result-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

:global .ant-result-error > .ant-result-title {
    white-space: nowrap;
}

@media (max-width: 574px) {
    :global .ant-result-error > .ant-result-title {
        white-space: pre-line;
    }
}
